# Files to ignore

# Vi swap files
.*.swp
# Backup files
*~

*.tgz
*.tar.gz
*.rpm

.*
!.gitignore
!.travis.yml
*.o
*.o.*
*.ko
*.ko.*
*.mod.c
*.order
Module.symvers
Module.markers
SELinux/*.pp
SELinux/tmp
rpms
